<section class="container">
  <div>
    <div>
      <h1>Dashboard</h1>
    </div>
  </div>
</section>
<div class="container">
  <section>
    <div class="column-8">
      <div class="card article">
        <div class="card-content">
          {{#each posts as |post|}}
            <div>
              <h3 style="font-size:125%;font-weight:bolder"><a
                  href="/dashboard/{{id}}"
                >{{post_title}}</a></h3>
              <h4>Posted By
                {{{username}}}
                on
                {{format_date post.date_created}}
              </h4>
              <div>
                <p>{{post_body}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <div class="column-8"></div>
  <form action="/api/posts" method="POST">
    <h3>New Post</h3>
    <label for="newPostTitle">Post title:</label>
    <textarea id="newPostTitle" name="post_title"></textarea>
    <br />
    <label for="post_body">Post body:</label>
    <textarea id="newPostBody" name="post_body"></textarea>
    <br />
    <input type="submit" value="create post" />
  </form>
</div>
<script src="/js/index.js"></script>