<section class="container">
  <div>
    <div>
      <h1>Featured Posts</h1>
    </div>
  </div>
</section>

<div class="container">
  <section class="border border-3 border-black">
    <div>
      {{#each posts}}
        <div>
          <div>
            <div>
              <h3 style="font-size: 125%; font-weight: bolder">
                <a href="/posts/{{id}}">{{post_title}}</a>
              </h3>
              <div>
                <h4>Posted by
                  {{{user.username}}}
                  on
                  {{format_date createdAt}}</h4>
              </div>
            </div>
            <div>
              <p>{{post_body}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</div>